/* 메뉴 탭 컬러변경 */
.menu .menu_nav a:nth-of-type(2) {
    background-color: #f4f9ff;
    color: #023f92;
}

.chrome {
    width: 100%;
    overflow: hidden;
}
.chrome .img {
    margin: 0 auto;
    width: 100%;
}
.chrome .img img {
    width: 100%;
}
.chrome .title {
    display: flex;
    margin: 5rem 5rem 3rem;
    align-items: flex-end;
}
.chrome .title h2 {
    font-size: 2rem;
    margin: 0;
    color: #023f92;
}
.chrome .title small {
    margin-left: 1.3rem;
    font-size: 18px;
}

.chrome .detail {
    display: flex;
    justify-content: space-between;
    margin: 0 5rem ;
}
.chrome .detail .left {
    display: flex;
    width: 37%;
}
.chrome .detail .left .type {
    margin: 0 50px 0 0;
    padding: 0;
}
.chrome .detail .left .type li {
    font-size: 16px;
    color: #7c91bc;
    margin: 5px 0;
}

.chrome .detail .left .content {
    margin: 0 0 5rem 0;
    padding: 0;
}
.chrome .detail .left .content li {
    font-size: 16px;
    margin: 5px 0;
}

.chrome .detail .right {
    width: 50%;
}
.chrome .detail .right p {
    margin: 0;
}
.chrome .detail .right p:nth-child(2) {
    margin-top: 10px;
}