/* 메뉴 탭 컬러변경 */
.menu .menu_nav a:nth-of-type(2) {
    background-color: #fff;
    color: #023f92;
}




.renewal {
    width: 100%;
}

/* top */
.renewal .top {
    bottom: 5rem;
}
.renewal .top .scale-up-hor-center {
    margin: 0 auto;
    width: 100%;

    -webkit-animation: scale-up-hor-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-hor-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;  
}
.renewal .top .scale-up-hor-center img {
    width: 100%;
}
.renewal .top .title {
    display: flex;
    margin: 5rem 5rem 3rem;
    align-items: flex-end;
}
.renewal .top .title h2 {
    font-size: 2rem;
    margin: 0;
}
.renewal .top .title small {
    margin-left: 1.3rem;
    font-size: 18px;
    color: #a0a0a0;
}

.renewal .top .detail {
    display: flex;
    justify-content: space-between;
    margin: 0 5rem ;
}
.renewal .top .detail .left {
    display: flex;
}
.renewal .top .detail .left .type {
    margin: 0 50px 0 0;
    padding: 0;
}
.renewal .top .detail .left .type li {
    font-size: 16px;
    font-weight: bold;
    color: #664a38;
    margin: 5px 0;
}

.renewal .top .detail .left .content {
    margin: 0;
    padding: 0;
}
.renewal .top .detail .left .content li {
    font-size: 16px;
    margin: 5px 0;
}
.renewal .top .detail .right {
    width: 60%;
    margin-bottom: 5rem;
}
.renewal .top .detail .right p {
    margin: 0;
    line-height: 1.4;
}
.renewal .top .detail .right p:nth-of-type(2) {
    margin-top: 13px;
}
.renewal .top .detail .right .bt {
    margin-top: 30px;
    text-align: center;
    display: flex;
}
.renewal .top .detail .right .bt .new_p {
    display: block;
    border: 0;
    border-radius: 30px;
    border: 1px solid #006e4a;
    box-shadow: 5px 5px 20px rgb(0 0 0 / 10%);
    -webkit-box-shadow: 5px 5px 20px rgb(0 0 0 / 10%); 
    font-size: 15px;
    color: #006e4a;
    margin-right: 30px;
    padding: 12px 0;
    width: 200px;
}
.renewal .top .detail .right .bt .new_k {
    display: block;
    border: 0;
    border-radius: 30px;
    border: 1px solid #ba2b2a;
    box-shadow: 5px 5px 20px rgb(0 0 0 / 10%);
    -webkit-box-shadow: 5px 5px 20px rgb(0 0 0 / 10%); 
    font-size: 15px;
    color: #ba2b2a;
    padding: 12px 0;
    width: 200px;
}
.bounce-top {
	-webkit-animation: bounce-top 0.9s both;
            animation: bounce-top 0.9s both;
}




/* row1 */
.renewal .row1 {
    /* background-color: #efeeec; */
    padding-bottom: 5rem;
}
.renewal .row1 .subimg {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    margin: 0 5rem;
}
.renewal .row1 .subimg .left {
    width: 49%;
    text-align: center;
}
.renewal .row1 .subimg .left img {
    border: 1px solid #dbdbdb;
    width: 100%;
}
.renewal .row1 .subimg .right {
    width: 49%;
    text-align: center;
}
.renewal .subimg .right img {
    border: 1px solid #dbdbdb;
    width: 100%;
}




/* row2 */
.renewal .row2 {}
.renewal .row2 .bigimg {
    background-attachment: fixed;
    background-image: url(../img/renewal/re04.jpg);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    width: 100%;
}
.renewal .row2 article {
    display: flex;
    justify-content: space-between;
    margin: 5rem 8rem;
}
.renewal .row2 article .left {}
.renewal .row2 article .left p {
    width: 100%;
    font-size: .9rem;
    color: #2b2b2b;
}
.renewal .row2 article h2 {}
.renewal .row2 article p {
    width: 70%;
    line-height: 1.5rem;
    margin: 0;
}




/* row3 */
.renewal .row3 {
    margin: 0 5rem;
    padding-bottom: 5rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
}
.renewal .row3 article {
    width: 35%;
}
.renewal .row3 article .tit {}
.renewal .row3 article .tit p {
    margin: 0;
    font-size: .9rem;
    color: #2b2b2b;
}
.renewal .row3 article .tit h2 {
    margin-bottom: 20px;
}

.renewal .row3 article p {
    line-height: 1.5rem;
    margin-bottom: 15px;
}
.renewal .row3 img {
    width: 60%;
}




/* row5 */
.renewal .row5 {
    width: 100%;
}




/* 이미지scale-up */
@-webkit-keyframes scale-up-hor-center {
    0% {
        -webkit-transform: scaleX(0.4);
                transform: scaleX(0.4);
    }
    100% {
        -webkit-transform: scaleX(1);
                transform: scaleX(1);
    }
}
@keyframes scale-up-hor-center {
    0% {
        -webkit-transform: scaleX(0.4);
                transform: scaleX(0.4);
    }
    100% {
        -webkit-transform: scaleX(1);
                transform: scaleX(1);
    }
}



@-webkit-keyframes bounce-top {
    0% {
        -webkit-transform: translateY(-45px);
                transform: translateY(-45px);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        opacity: 1;
    }
    24% {
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(-24px);
                transform: translateY(-24px);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
    }
    65% {
        -webkit-transform: translateY(-12px);
                transform: translateY(-12px);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
    }
    82% {
        -webkit-transform: translateY(-6px);
                transform: translateY(-6px);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
    }
    93% {
        -webkit-transform: translateY(-4px);
                transform: translateY(-4px);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
    }
    100% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        opacity: 1;
    }
}
@keyframes bounce-top {
    0% {
        -webkit-transform: translateY(-45px);
                transform: translateY(-45px);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        opacity: 1;
    }
    24% {
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(-24px);
                transform: translateY(-24px);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
    }
    65% {
        -webkit-transform: translateY(-12px);
                transform: translateY(-12px);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
    }
    82% {
        -webkit-transform: translateY(-6px);
                transform: translateY(-6px);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
    }
    93% {
        -webkit-transform: translateY(-4px);
                transform: translateY(-4px);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
    }
    100% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        opacity: 1;
    }
}